<!DOCTYPE html>
<html lang="en">
<head>
    <title>Habitats</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            white-space: pre-wrap; /* ให้ข้อมูลขยายเมื่อมีข้อมูลมาก */
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 100px;
            max-height: 100px;
        }

        .actions {
            display: flex;
            gap: 5px;
        }
        img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* ตั้งค่า object-fit เพื่อให้รูปภาพปรับขนาดและครอบคลุมตามขนาดที่กำหนด */
}
    </style>
</head>
<body>
    <h1>Habitats</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Data</th>
            <th>Pic</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 0; i < Habitats.length; i++) { %>
            <tr>
                <td><%= Habitats[i].Name %></td>
                <td><%= Habitats[i].Data %></td>
                <td><img src="<%= Habitats[i].Pic %>" alt="Habitat Pic"></td>
                <td class="actions">
                    <a href="/Habitat/<%= Habitats[i].ID %>">View</a>
                    <a href="/updateHabitat/<%= Habitats[i].ID %>">Update</a>
                    <a href="/deleteHabitat/<%= Habitats[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/createHabitat">Create New Habitat</a>
    <br>
    <a href="/" class="create-link">Add Habitat Of animal</a>
    <br>
    <a href="/Animals" class="create-link">Add Animal</a>
</body>
</html>
