<!DOCTYPE html>
<html lang="en">
<head>
    <title>Habitat</title>
    <!-- <link rel="stylesheet" href="../css/style.css" > -->
</head>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        white-space: pre-wrap; /* ให้ข้อมูลขยายเมื่อมีข้อมูลมาก */
    }

    th {
        background-color: #f2f2f2;
    }

    img {
        max-width: 100px;
        max-height: 100px;
    }

    .actions {
        display: flex;
        gap: 5px;
    }
    img {
width: 300px;
height: 300px;
object-fit: cover; /* ตั้งค่า object-fit เพื่อให้รูปภาพปรับขนาดและครอบคลุมตามขนาดที่กำหนด */
}
</style>
<body>
    <h1>View Habitat</h1>
    <table class="Habitat-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Data</th>
        <th>Pic</th>
    </tr>
    <tr>
        <td><%= Habitat.ID %></td>
        <td><%= Habitat.Name %></td>
        <td><%= Habitat.Data %></td>
        <td><img src="<%= Habitat.Pic %>" alt="Habitat Pic"></td>  
    </tr>
</table>
<div class="link-center">
    <a href="/updateHabitat/<%= Habitat.ID %>">Edit</a>
    <a href="/updateHabitat/<%= Habitat.ID %>">Delete</a>
    <a href="/Habitats">Back to List</a>
</div>
</body>
</html>